html, body {
  height: 100vh;
  width: 100vw;
  background-color: #11283c;
  font-family: Mulish, sans-serif;
  overflow-x: hidden;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 1fr;
  box-sizing: border-box;
}

h1, h2, h3, p {
  margin: 0;
  line-height: normal;
}

div, section {
  box-sizing: border-box;
  padding: 0;
}